.full-background{
    background-size: cover;
    background-image: url(cafe/contact-title-img.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 600px;
}
.full{
    height: 600px;
}